.vscode
*_var.yml
*_inventory.yml

# Ensure the following files below are EXCLUDED from the matching .gitignore files above, and thus, ARE replicated to the repo.
!*var_sample.yml
!*inventory_sample.yml
